<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{userName}}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <div mat-subheader>Roles</div>
      <mat-list-item *ngFor="let rol of roles">
        <mat-icon mat-list-icon>security</mat-icon>
        <div mat-line>{{rol}}</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <div mat-subheader>Opciones</div>
      <mat-list-item *ngFor="let opc of opciones">
        <mat-icon mat-list-icon>{{opc.icono}}</mat-icon>
        <div mat-line>{{opc.nombre}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
