.example-header-image {
  background-image: url('https://lh3.googleusercontent.com/-5NPBR6zokJI/Vw5TxF5WtXI/AAAAAAAALZQ/psB2OlqZTA4q27ZvylM_AoF25fU9CmUkgCEwYBhgLKtQDAL1OcqxE8MHbTrxXA6G9WkogQ8AYnHJRTq805gO7fIqSo-7D_ORZdqrL80pQr4eszwSXc0Jpg0qoKlc2Oy6pzAgaCJPvxHsLnnsquJ_VVbp-JQLhOqmTC59Za8kKPdMkbfADTLm3CB0iGigZppnoV45yasn_778nxVwJo0Y_wyGxFzeIZ1ln7kNLyOfof-aG-bAexVQ98WZSpl50W9bh7yF39QDk1KZcIUxTRzfJm8s4Hd24FcSCI5MNkx-F1A0tQ7gyb3Auub8zQh4CNLsHnOuTHLKWu4-jA6KwC7_w399H_KXBlxzfMOKG3WTKAOdcyWTUjF5ZSZID0LYUZzY_zJIuyVRnnhb-gHDSDRYprG-Iqyurw7w_0m8uTxxQ_7RDKvhDTMQVa5jNwCmW-idj_dyKl0sK7e_ETtaDoiGCM7yhZd-chd1zZJe8dwWVQVXkpzF_WAq-eDIP-QPT32PaST6z2lMNLFOsWV_go-Fsn2FfiPU7H-g5NxqxK_ZwwFmGv5-7U1n27rD9OrU5X9ub5rVWhl4vYGEp60JgkcPpj4t5PE99sHduXTV2tsDvubbAMnOTVnjRVdoTSXWspXC0wr7CATgzJIUqbQu6vK5HPFzkGpXnMNKkxfkF/w140-h140-p/Captura.jpg');
  background-size: cover;
}
