<mat-toolbar>Signos Vitales</mat-toolbar>

<router-outlet></router-outlet>

<div [hidden]="route.children.length !== 0">
  <div class="example-container mat-elevation-z8">

    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar especialidad">
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idSignoVital}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fecha | date :'yyyy/MM/dd, hh:mm:ss a'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="idPaciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Paciente</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idPaciente.nombres}} {{row.idPaciente.apellidos}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="temperatura">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.temperatura}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ritmoRespiratorio">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ritmoRespiratorio}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pulso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pulso}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button color="accent" [routerLink]="['edicion', row.idSignoVital]">
            <mat-icon>ballot</mat-icon>
          </button>
          <button mat-button color="warn" (click)="eliminar(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
<button mat-fab color="primary"  style="float: right; margin-right: 20px" routerLink='/signoVital/nuevo'>
  <mat-icon >add</mat-icon>
</button>
