<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #espForm="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" [max]="maxFecha"
           formControlName="fecha" [(ngModel)]="fechaSeleccionada">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
           [formControl]="myControlPaciente" formControlName="idPaciente">
    <button mat-button mat-fab matSuffix (click)="abrirDialogo()" type="button">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-form-field>
  <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente"
                    (optionSelected)="seleccionarPaciente($event)">
    <mat-option *ngFor="let p of pacientesFiltrados | async" [value]="p">
      {{ p.nombres }} {{p.apellidos}}
    </mat-option>
  </mat-autocomplete>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required formControlName="temperatura" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo Respiratorio" required formControlName="ritmoRespiratorio" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso" >
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="espForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signoVital' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br />
