<h2 mat-dialog-title>Ingrese los datos del paciente</h2>
<mat-dialog-content class="mat-typography">

  <form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">

    <mat-form-field>
      <input matInput placeholder="Nombres" formControlName="nombres">
      <small *ngIf="f.nombres.errors?.required && f.nombres.touched" class="invalido">Nombre es requerido</small>
      <small *ngIf="f.nombres.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</small>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Apellidos" formControlName="apellidos">
      <small *ngIf="f.apellidos.errors?.required" class="invalido">Apellido es requerido</small>
      <small *ngIf="f.apellidos.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</small>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="DNI" formControlName="dni">

      <div *ngIf="(f.dni.invalid && f.dni.touched) || f.dni.dirty">
        <small *ngIf="f.dni.errors?.required" class="invalido">DNI es requerido</small>
        <small *ngIf="f.dni.errors?.minlength || f.dni.errors?.maxlength" class="invalido">El campo debe
          tener 8
          caracteres</small>
      </div>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Teléfono" formControlName="telefono">

      <div *ngIf="(f.telefono.invalid && f.telefono.touched) || f.telefono.dirty">
        <small *ngIf="f.telefono.errors?.required" class="invalido">Teléfono es
          requerido</small>
        <small *ngIf="f.telefono.errors?.minlength || f.telefono.errors?.maxlength" class="invalido">El
          campo debe tener 9
          caracteres</small>
      </div>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Direccion" formControlName="direccion">
      <small *ngIf="f.direccion.errors?.required" class="invalido">Apellido es requerido</small>
      <small *ngIf="f.direccion.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</small>
    </mat-form-field>


    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
      </button>
      <button mat-raised-button color="accent" (click)="onCerrar()" type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
